@model CloudVOffice.Data.DTO.Distributor.DistributorRegistrationDTO;
@using System.Collections;
@using Newtonsoft.Json;

@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "Distibutor";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Ware House</h5>
                    <h6 class="sub-heading">Distibutor Creation</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <form asp-route="WareHouse/DistributorRegistration/DistributorCreate" method="post" autocomplete="off" enctype="multipart/form-data">

                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <b>Distributor Create</b>
                            </div>
                            <div class="col-md-2 ">
                                <a href="/WareHouse/DistributorRegistration/DistributorView" class="btn btn-primary btn-sm float-right"><i class="icon-list2"></i>List</a>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <input asp-for="@Model.DistributorRegistrationId" type="hidden" />
                       
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="Name" class="form-label">Name &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.Name" type="text" class="form-control" autofocus="autofocus" placeholder="Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="BusinessName" class="form-label">BusinessName &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.BusinessName" type="text" class="form-control" autofocus="autofocus" placeholder="BusinessName" />
                                <span asp-validation-for="BusinessName"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="PrimaryPhone" class="form-label">PrimaryPhone &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.PrimaryPhone" type="number" class="form-control" autofocus="autofocus" placeholder="PrimaryPhone" />
                                <span asp-validation-for="PrimaryPhone"></span>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Password" class="form-label">Password &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.Password" type="text" class="form-control" autofocus="autofocus" placeholder="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="AlternatePhone" class="form-label">AlternatePhone &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.AlternatePhone" type="number" class="form-control" autofocus="autofocus" placeholder="AlternatePhone" />
                                <span asp-validation-for="AlternatePhone"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="MailId" class="form-label">MailId &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.MailId" type="email" class="form-control" autofocus="autofocus" placeholder="MailId" />
                                <span asp-validation-for="MailId"></span>
                            </div>
                            

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="Country" class="form-label">Country &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.Country" type="text" class="form-control" autofocus="autofocus" placeholder="Country" />
                                <span asp-validation-for="Country"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="State" class="form-label">State &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.State" type="text" class="form-control" autofocus="autofocus" placeholder="State" />
                                <span asp-validation-for="State"></span>
                            </div>
                           
                            <div class="form-group col-md-4">
                                <label for="Address" class="form-label">Address &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.Address" type="text" class="form-control" autofocus="autofocus" placeholder="Address" />
                                <span asp-validation-for="Address"></span>
                            </div>

                        </div>


                        <div class="form-row">
                          
                            <div class="form-group col-md-4">

                                <label for="GSTNumber" class="form-label">GSTNumber &nbsp;<span style="color:red;"><b>*</b></span></label>
                                <input asp-for="@Model.GSTNumber" type="text" class="form-control" autofocus="autofocus" placeholder="GSTNumber " />
                                <span asp-validation-for="GSTNumber"></span>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Image" class="form-label">Image</label>
                                <input asp-for="@Model.Image" type="file" class="form-control" autofocus="autofocus" placeholder="Image" />
                                <span asp-validation-for="Image"></span>
                                @{
                                    if (Model.Image != null)
                                    {
                                        <img src="/uploads/DistributorRegistration/@Model.Image" style="height:100px; width:100px" />
                                        <input type="hidden" asp-for="@Model.Image">
                                    }
                                }
                            </div>
                        </div>


                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function onSectorNamefiltering(e) {
       var query = new ej.data.Query();
        query = (e.text !== '') ? query.where('SectorName', 'startswith', e.text, true) : query;
        e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Sectorlist)), query);
    }

    
</script>

