@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "Item";
}
@addTagHelper *, Syncfusion.EJ2
@using CloudVOffice.Core.Domain.Common;
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>WareHouse</h5>
                    <h6 class="sub-heading">  </h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">  </span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-md-8">
                            Item
                        </div>
                        <div class="col-md-4 text-right float-right">
                            <a href="/WareHouse/ItemMasterForFarming/CreateItemMasterForFarming" class="btn btn-success btn-sm"><i class="icon icon-add"></i> Add </a>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <ejs-grid id="GridOverview" dataSource="ViewBag.Items"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              height="600" rowHeight="38"
                              enableHover="false" enableHeaderFocus="true"
                              allowResizing="true" autoFit="true" dataBound="dataBound"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})">

                        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>

                        <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
                        <e-grid-columns>

                            <e-grid-column field="" type="checkbox" width="20" allowFiltering="false" allowSorting="false"></e-grid-column>

                          @*<e-grid-column field="Category.CategoryName" headerText="Category Name" textAlign="Left" width="150"></e-grid-column>
                            <e-grid-column field="SubCategory.SubCategoryName" headerText="SubCategory Name" textAlign="Left" width="150"></e-grid-column>*@
                           
                            <e-grid-column field="Sector" headerText="Sector Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Category" headerText="Category Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="SubCategory1" headerText="SubCategory1 Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="SubCategory2" headerText="SubCategory2 Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="WareHouseName" headerText="WareHouse Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="EmployeeName" headerText="Employee Name" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="VendorName" headerText="Vendor Name" textAlign="Left" width="120"></e-grid-column>
                            @*<e-grid-column field="DistrictName" headerText="District Name" textAlign="Left" width="120"></e-grid-column>*@



                            <e-grid-column field="ProductName" headerText="Product Name" textAlign="Left" width="120"></e-grid-column>

                            <e-grid-column field="UOMId" headerText="UOM" textAlign="Left" width="120"></e-grid-column>

                         
                            <e-grid-column field="QtyPerKg" headerText="QtyPerKg" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Price" headerText="Price" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="MinQty" headerText="MinQty" textAlign="Left" width="120"></e-grid-column>
                           
                            <e-grid-column field="GST" headerText="GST" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="HSN" headerText="HSN" textAlign="Left" width="120"></e-grid-column>

                            <e-grid-column field="InvoiceNo" headerText="Invoice No" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="HarvestDate" headerText="Harvest Date" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="HarvestDate" headerText="Harvest Date" textAlign="Left" width="120"></e-grid-column>


                           
                            @*<e-grid-column field="Barcode" headerText="Barcode" textAlign="Left" width="120"></e-grid-column>*@
                            <e-grid-column field="BarCodeAvailable" headerText="Bar Code Available" textAlign="Left" width="120"></e-grid-column>
                            
                            @* <e-grid-column field="Thumbnail" headerText="Thumbnail" textAlign="Left" width="120"></e-grid-column>*@
                            <e-grid-column field="Thumbnail" template="#ImageTemplate" headerText="Thumbnail" textAlign="Left" width="120"> </e-grid-column>
                            @* <e-grid-column field="Images" headerText="Images" textAlign="Left" width="120"> </e-grid-column>*@
                            <e-grid-column field="Images" headerText="Images" textAlign="Left" width="120" template="#Multipleimagetemplate"></e-grid-column>



                            <e-grid-column headerText="Action" template="#Actions" width="100"></e-grid-column>


                        </e-grid-columns>
                    </ejs-grid>

                </div>
            </div>
        </div>
    </div>

</div>


@{

    if (TempData["msg"] != null)
    {
        <script type="text/javascript">
            const message = "@TempData["msg"]";
            if (message == "@((int)MessageEnum.Success)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Item",
                    text: "Successfully created.",
                    type: "success"
                });
            }


            else if (message == "@((int)MessageEnum.Updated)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Item",
                    text: "Successfully updated.",
                    type: "success"
                });
            }

            else if (message == "Barcode generated and Item saved successfully") {

                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Barcode Generation",
                    text: message,
                    type: "success"
                });
            }

            else if (message == "@((int)MessageEnum.Deleted)") {
                sweetAlert({
                    html: true,
                    icon: "success",
                    title: "Item",
                    text: "Successfully Deleted.",
                    type: "success"
                });
            }
            else if (message == "@((int)MessageEnum.UnExpectedError)") {
                sweetAlert({
                    html: true,
                    icon: "danger",
                    title: "Item",
                    text: "There is somthing going wrong.",
                    type: "danger"
                });
            }
            else if (message == "@((int)MessageEnum.Error)") {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Item",
                    text: "There is somthing going wrong.",
                    type: "error"
                });
            }
            else {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Item",
                    text: message,
                    type: "error"
                });
            }
        </script>
    }
}

<script type="text/javascript">
    function Delete(Id) {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            icon: "warning",
            buttons: [
                'No, cancel it!',
                'Yes, I am sure!'
            ],
            confirmButtonColor: "#DD6B55",
            dangerMode: true,
        }).then(function (isConfirm) {
            if (isConfirm) {
                window.location.href = "../../WareHouse/ItemMasterForFarming/ItemMasterForFarmingDelete?ItemMasterForFarmingId=" + Id;
            }
        })
    }
</script>

<script id="ImageTemplate" type="text/x-template">${imageTemplate(data)}</script>
<script id="Multipleimagetemplate" type="text/x-template">
    ${Multipleimagetemplate(data)}
</script>


<script id="Actions" type="text/x-template">
    <div class="link">
        <a href="../../WareHouse/ItemMasterForFarming/CreateItemMasterForFarming?ItemMasterForFarmingId=${ItemMasterForFarmingId}"><i class="icon-pencil3" style="font-size:22px"></i></a> &nbsp;&nbsp;&nbsp;

        <button onClick="Delete(${ItemMasterForFarmingId})" style="background: transparent;border: none;"><i class="icon-trash" style="font-size:22px"></i></button>
    </div>
</script>

<script id="statusTemplate" type="text/x-template">
    ${statusDetail(data)}
</script>

<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }
    function exportQueryCellInfo(args) {
        if (args.column.headerText === 'Employee Image') {
            if (args.name === "excelQueryCellInfo") {
                args.image = { height: 75, base64: args.data["EmployeeImage"], width: 75 };
            } else {
                args.image = { base64: args.data["EmployeeImage"] };
            }
        }
        if (args.column.headerText === 'Track') {
            args.hyperLink = {
                target: "../../DMS/DesktopLogin/Track?id=" + args.data["erpUser"],
                displayText: "Track"
            };
        }
    };


    function dataBound(args) {
        this.autoFitColumns();
    }

    function statusDetail(e) {

        if (e.IsActive == true) {
            return '<span class="badge badge-pill badge-success" > True </span>';
        } else {
            return '<span class="badge badge-pill badge-dark"> False </span>';
        }

    }

    function imageTemplate(i) {

        if (i.Thumbnail != null) {
            return ' <img src="/uploads/farmingimage/' + i.Thumbnail + '" style="height:100px; width:100px ;padding: 5px 0px 5px 0;" />';
        } else {
            return 'No Image';
        }
    }
    function Multipleimagetemplate(item) {
        console.log('Item:', item);

        if (item.Images) {
            // Split the comma-separated string into an array of image filenames
            const imageFilenames = item.Images.split(',');

            if (imageFilenames.length > 0) {
                // Create HTML for each image with reduced size and padding
                const imagesHtml = imageFilenames.map(filename => {
                    // Assuming the images are in a specific folder, adjust the path accordingly
                    return `<img src="/uploads/farmingimage/${filename.trim()}" class="grid-image" style="height: 100px; width: 100px; padding: 5px 0 5px 0;" />`;
                }).join('');

                // Return the HTML for all images
                return '<div class="image-container">' + imagesHtml + '</div>';
            }
        }

        // Return 'No Images' if there are no images or if the Images field is null
        console.log('No Images');
        return 'No Images';
    }

</script>

