@model CloudVOffice.Data.DTO.WareHouses.Brands.BrandDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "Brand";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Ware House</h5>
					<h6 class="sub-heading">  </h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login"></span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card">
				<form asp-route="/WareHouse/Brand/BrandCreate" method="post" autocomplete="off" enctype="multipart/form-data">

					<div class="card-header">

						<div class="row">
							<div class="col-md-10">
								<b>Month Create</b>
							</div>
							<div class="col-md-2 ">
								<a href="/WareHouse/Brand/BrandView" class="btn btn-primary btn-sm float-right"><i class="icon-list2"></i> List</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-row">
								<div class="form-group col-md-3">
									<input asp-for="@Model.BrandId" type="hidden" />
									<span asp-validation-for="BrandId"></span>
								</div>
							</div>
							@*<div class="form-group col-md-3">
								<input asp-for="@Model.BrandId" type="hidden" />
								<label for="BrandName" class="form-label">Brand Name</label>
								<input asp-for="@Model.BrandName" type="text" class="form-control" autofocus="autofocus" placeholder="BrandName" />
								<span asp-validation-for="BrandName"></span>
							</div>*@
							<div class="form-group col-md-3">
								<label for="BrandName" class="form-label">Brand Name</label>
								<input asp-for="@Model.BrandName" type="text" class="form-control" autofocus="autofocus" placeholder="BrandName" />
								<span asp-validation-for="BrandName"></span>
							</div>

							@*<div class="form-group col-md-3">
								<label for="BrandImage" class="form-label">BrandImage</label>
								<input asp-for="@Model.BrandImage" type="text" class="form-control" autofocus="autofocus" placeholder="BrandImage" />
								<span asp-validation-for="BrandImage"></span>
							</div>*@
							<div class="form-group col-md-3">
								<label for="BrandImage" class="form-label">Company Logo</label>
								<input asp-for="@Model.BrandImageUp" type="file" class="form-control" autofocus="autofocus" placeholder="Brand Image" />
								<span asp-validation-for="BrandImage"></span>
								@{
									if (Model.BrandImage != null)
									{
										<img src="/uploads/setup/@Model.BrandImage" style="height:100px; width:100px" />
										<input type="hidden" asp-for="@Model.BrandImage">
									}
								}
							</div>
						</div>
						<div asp-validation-summary="ModelOnly" class="message-error"></div>
					</div>
					<div class="card-body">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

