@{
	Layout = "_DistributorLayout";
	ViewData["Title"] = "Sales Order DetailsView";
}
@addTagHelper *, Syncfusion.EJ2
@using CloudVOffice.Core.Domain.Common;
@using CloudVOffice.Core.Domain.Buyers;
@foreach (var ODtails in ViewBag.OrderDetails)
{
	<form action="/SO/SaveDSO" method="post" autocomplete="off">
		<div class="main-content">
			<!-- Row start -->
			<div class="row justify-content-md-center gutters">

				<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="invoice-container">
								
									<div class="col-lg-6 col-md-6 col-sm-6">
										<p class="text-right">ORDER -<span class="text-primary" id="uniqno">@ODtails.OrderUniqueNo</span></p>
									<p class="text-right"><small>@ODtails.CreatedDate</small></p>
									</div>

								
								<!-- Row start -->
								<div class="row gutters">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<table class="table table-hover table-bordered table-responsive table-striped">
											<thead>
												<tr>
													<th>Item</th>
													<th>Price</th>
													<th>Quantity</th>
													<th>Subtotal</th>
												</tr>
											</thead>
											<tbody id="Target_tb">
												@foreach (var items in ODtails.BuyerOrderItems)
												{
													<tr>
														<td id="itemlist" style="display:none;">@items.ItemId</td>
														<td>@items.Item.ItemName</td>
														<td>@items.Item.MRP</td>
														<td id="quantity">@items.Quantity</td>
														<td>₹@(items.Quantity * items.Item.MRP)</td>
													</tr>
												}


											</tbody>
										</table>
									</div>
								</div>
								<!-- Row end -->
								<!-- Row start -->
								<div class="row gutters">
									<div class="col-lg-6 col-md-6 col-sm-12">
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<table class="table plain">
											<tbody>
												<tr>
													<td>
														<p class="text-right">Subtotal</p>
														<p class="text-right">total Quantity</p>
														<p class="text-right">total Waight</p>
														<p class="text-right" style="display:none;">Address</p>
														<p class="text-right" style="display:none;">MobileNumber</p>
														<p class="text-right" style="display:none;">Pincode</p>
														@* <p class="text-right">Shipping &amp; Handling</p> *@
														@* <p class="text-right text-secondary"><strong>Grand Total (Incl.Tax)</strong></p>
													<p class="text-right">Tax</p> *@
													</td>
													<td>
														<p class="text-right">₹<span id="totalamount">@ODtails.TotalAmount</span></p>
														<p class="text-right"><span id="totalquantity">@ODtails.TotalQuantity</span></p>
														<p class="text-right"><span id="totalwaight">@ODtails.TotalAmount</span></p>
														<p class="text-right" style="display:none;"><span id="address">@ODtails.Address</span></p>
														<p class="text-right" style="display:none;"><span id="mobileno">@ODtails.MobileNumber</span></p>
														<p class="text-right" style="display:none;"><span id="pin">@ODtails.Pincode</span></p>
														<p class="text-right" style="display:none;"><span id="buyerid">@ODtails.BuyerOrderId</span></p>
														@* <p class="text-right">$30.01</p> *@
														@* <p class="text-right text-secondary"><strong>₹205.00</strong></p>
													<p class="text-right">₹55.79</p> *@
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>



			</div>
			<button type="button" id="btnSave" class="btn btn-radius btn-success">Save</button>
			<!-- Row end -->
		</div>
	</form>
}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
	$(document).ready(function () {
		$("#btnSave").click(function () {
			saveData();
		});

		function saveData() {
			var DSoDTO = {
				TotalAmount: parseFloat($("#totalamount").text()),
				TotalQuantity: parseInt($("#totalquantity").text()),
				Address: parseInt($("#address").text()),
				MobileNumber: parseInt($("#mobileno").text()),
				PincodeId: parseInt($("#pin").text()),
				OrderUniqueNo: $("#uniqno").text(),
				BuyerOrderId: parseInt($("#buyerid").text()),
				TotalWaight: parseFloat($("#totalwaight").text()),
				Items: [],
			};

			$('#Target_tb tr').each(function () {
				var row = $(this);
				var itemId = row.find('#itemlist').text(); 
				var quantity = row.find('#quantity').text(); 

				var item = {
					ItemId: itemId,
					Quantity: quantity
				};


				DSoDTO.Items.push(item);
			});

			$.ajax({
				type: "POST",
				url: "/SO/SaveDSO",
				contentType: "application/json",
				data: JSON.stringify(DSoDTO),
				success: function (response) {
					Swal.fire({
						title: "Success",
						text: "Order SuccessFully",
						icon: "success",
						confirmButtonText: "OK"
					}).then((result) => {
						window.location.href = "/SO/Buyerorderlist";
					});

				},
				error: function (error) {
					console.error("Error:", error);
					alert("Error occurred while saving data"); // Show error message
				}
			});
		}
	});

</script>