@model CloudVOffice.Data.DTO.Sales.SalesManagerDTO;
@using System.Collections;
@using Newtonsoft.Json;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "SalesManager";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Sales</h5>
					<h6 class="sub-heading">  </h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login"></span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card">
				<form asp-route="/SalesExecutive/SalesManager/SalesManagerCreate" method="post" autocomplete="off">

					<div class="card-header">

						<div class="row">
							<div class="col-md-10">
								<b>SalesManager Create</b>
							</div>
							<div class="col-md-2 ">
								<a href="/SalesExecutive/SalesManager/SalesManagerView" class="btn btn-primary btn-sm float-right"><i class="icon-list2"></i> List</a>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.SalesManagerId" type="hidden" />
								<label for="SalesManagerName" class="form-label">SalesManager Name</label>
								<input asp-for="@Model.SalesManagerName" type="text" class="form-control" autofocus="autofocus" placeholder="SalesManagerName" />
								<span asp-validation-for="SalesManagerName"></span>
							</div>

							@*<div class="form-group col-md-3">
								<label for="StateId" class="form-label">State Name</label>
								<input asp-for="@Model.StateId" type="text" class="form-control" autofocus="autofocus" placeholder="StateId" />
								<span asp-validation-for="StateId"></span>
							</div>*@
							<div class="form-group col-md-3">
								<label for="StateId" class="form-label">State Name</label>
								<ejs-dropdownlist id="StateId" allowFiltering="true" ejs-for="@Model.StateId" filtering="onItemfiltering" dataSource="@(new SelectList((IEnumerable)ViewBag.States, "StateId", "StateName").Items)" placeholder="Select StateName" popupHeight="220px">
									<e-dropdownlist-fields text="StateName" value="StateId"></e-dropdownlist-fields>
								</ejs-dropdownlist>
								<span asp-validation-for="StateId"></span>
							</div>

							<div class="form-group col-md-3">
								<label for="Telephone" class="form-label">Telephone Number</label>
								<input asp-for="@Model.Telephone" type="text" class="form-control" autofocus="autofocus" placeholder="Telephone" />
								<span asp-validation-for="Telephone"></span>
							</div>

							<div class="form-group col-md-3">
								<label for="Address" class="form-label">Address </label>
								<input asp-for="@Model.Address" type="text" class="form-control" autofocus="autofocus" placeholder="Address" />
								<span asp-validation-for="Address"></span>
							</div>

							<div class="form-group col-md-3">
								<label for="EmailId" class="form-label">EmailId </label>
								<input asp-for="@Model.EmailId" type="text" class="form-control" autofocus="autofocus" placeholder="EmailId" />
								<span asp-validation-for="EmailId"></span>
							</div>
						</div>
						<div asp-validation-summary="ModelOnly" class="message-error"></div>
					</div>
					<div class="card-body">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<script>
	function onItemfiltering(e) {
		var query = new ej.data.Query();
		query = (e.text !== '') ? query.where('StateId', 'startswith', e.text, true) : query;
		e.updateData(@Html.Raw(JsonConvert.SerializeObject(ViewBag.States)), query);
	}
</script>
